.RecentActivity {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-items: flex-start;
  .projects,
  .audits {
    flex: 1;
  }
  .project {
    margin-bottom: 20px;
    gap: 0 !important;
    flex-wrap: wrap;
  }

  .project,
  .audit {
    position: relative;
    display: flex;
    gap: 10px;
    white-space: nowrap;

    .name {
      display: flex;
    }

    .extra {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      .group {
        display: flex;
        align-items: center;
      }
      .members {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  .attempts {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow_drop_down {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: -18px;
  }
  .code {
    margin-left: 30px;
    display: none;
    gap: 10px;
    > * {
      font-weight: bold;
    }
  }
  .auditWrap.show .code {
    display: flex;
  }
}
