.RecentActivity {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  .projects,
  .audits {
    flex: 1;
  }
  .project {
    margin-bottom: 20px;
    gap: 0 !important;
    flex-wrap: wrap;
  }

  .project,
  .audit {
    display: flex;
    gap: 10px;
    white-space: nowrap;
    
    .name {
      display: flex;
    }

    .extra {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      .group {
        display: flex;
        align-items: center;
      }
      .members {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  .attempts {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
