.section {
  background: rgb(197, 174, 174);
  color: black;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;

  .title {
    width: 100%;
    font-size: large;
    font-weight: bolder;
    text-align: center;
  }
}

.HomePage {
  padding: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
}
