.Overview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  
  .head {
    width: 100%;
    text-align: center;
    .cohort {
      white-space: nowrap;
    }
  }
}
.ratio {
  width: 100%;
}
.ratio,
.skills {
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  width: 100%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .head {
    position: relative;
  }

  svg {
    min-width: 250px;
    max-width: 350px;
    flex: 1;
  }
}

.ratio > * {
  font-weight: initial;
  text-align: start;
}

.graph .head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.balance {
  display: flex;
}

.balance > * {
  margin-left: 10px;
  font-weight: 500;
}

.balance .low {
  color: rgb(165, 2, 2);
}

.skill {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

text.label:has(~ text.label:hover),
text.label:hover ~ text.label {
  fill: gray;
}

text.label:hover + line {
  stroke: black;
}

text.label:hover + line + text.value {
  fill: black;
}
